.nav-bar {
    background-color: #6c09e6;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px 0px;
    height: 30px;
}
.nav-bar p {
    color: white;
    font-size: 25px;
    flex-grow: 2;
    align-self: center;
    padding-left: 20px;
}
.nav-bar i {
    padding: 15px;
    color: white;
    align-self: center;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    padding: 20px;
}

