.nav-bar {
    background-color: #6c09e6;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px 0px;
    height: 30px;
}
.nav-bar p {
    color: white;
    font-size: 25px;
    flex-grow: 2;
    align-self: center;
    padding-left: 20px;
}
.nav-bar i {
    padding: 15px;
    color: white;
    align-self: center;
}
.inside i {
    padding: 10px 20px 10px 10px;
    justify-self: center;
    align-self: center;
    max-width: 5px;
}
.shade {
    border: none;
    border-bottom: 1px solid black;
    background-color: lightgray;
    outline: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.regular {
    border-radius: 6px;
    border: 1px solid black;
}
.number {
    width: 40px;
    border-radius: 10px;
}